@page
@model HTM.WebApp.Pages.Hockey.MatchStatistics.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatchStatistic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchStatistic.MatchStatisticId" />
            <div class="form-group">
                <label asp-for="MatchStatistic.WinType" class="control-label"></label>
                <input asp-for="MatchStatistic.WinType" class="form-control" />
                <span asp-validation-for="MatchStatistic.WinType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchStatistic.Shots" class="control-label"></label>
                <input asp-for="MatchStatistic.Shots" class="form-control" />
                <span asp-validation-for="MatchStatistic.Shots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchStatistic.BlockedShots" class="control-label"></label>
                <input asp-for="MatchStatistic.BlockedShots" class="form-control" />
                <span asp-validation-for="MatchStatistic.BlockedShots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
