@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to  the Hockey Tournament Manager</h1>
    <img src="images/image.png" />
    <p>Manage your tournament.</p>
</div>
